.notification {
    border-radius: 5px;
    margin: 1em;
    padding: 1em;
    font-weight: bold;
    font-size: 1.25em;
}

.notification.success {
    background-color: darkgreen;
    color: white;
}

.notification.danger {
    background-color: darkred;
    color: white;
}